<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/task_app/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/task_app/data_form.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Task Manager</h1>
            <div  onclick="openPopup('input_data_form')">
                <button class='task_btn'>Создать задачу</button>
            </div>
            <button>Войти</button>
        </div>
    </header>
    <main>
        <div class="input_data_form">
            <p>Внести данные</p>
            <form  id="inputDataForm" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Сохранить</button>
            </form>
        </div>  
        <div class="overlay" onclick="closePopup()"></div>
        <div class="column" id="low-priority">
            <h3>Низкий приоритет</h3>
            <!-- Карточки задач будут рендериться здесь через JS -->
        </div>
        <div class="column" id="medium-priority">
            <h3>Средний приоритет</h3>
            <!-- Карточки задач будут рендериться здесь через JS -->
        </div>
        <div class="column" id="high-priority">
            <h3>Высокий приоритет</h3>
            <!-- Карточки задач будут рендериться здесь через JS -->
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Task Manager.</p>
    </footer>
    <script src="{% static 'js/popup.js'%}"></script>
    <script src="{% static 'js/query.js'%}"></script>
</body>
</html>
