<!DOCTYPE html>
{% load static i18n %}
<html>
<head>
    <title>Восстановление пароля</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_auth/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Восстановление пароля</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Восстановить</button>
        </form>
        <div class="link-container">
            <a href="{% url 'user_auth:login' %}">Войти</a>    
        </div>
    </div>
</body>
</html>
