<!DOCTYPE html>
{% load static i18n %}
<html>
<head>
    <title>{% translate "Password Reset Done" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_auth/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Письмо для сброса пароля отправлено</h2>
        <p>Мы отправили вам по электронной почте инструкции 
            по установке пароля. Если вы не получили письмо,
            убедитесь, что вы ввели адрес, который вы использовали 
            при регистрации, и проверьте папку со спамом.</p>
    </div>
</body>
</html>
