<!DOCTYPE html>
{% load static i18n %}
<html>
<head>
    <title>{% translate "Изменение пароля" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_auth/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>{% translate "Пароль успешно изменен" %}</h2>
        <p>Ваш пароль установлен. Вы можете войти в систему сейчас.</p>
            <div class="link-container">
                <a href="{% url 'user_auth:login' %}">Войти</a>
            </div>
    </div>
</body>
</html>
